html, body {
  width: 100%;
  height: 100%;
  background: #1B1A17;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.todo {
  padding: 30px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}
@media (max-width: 768px) {
  .todo {
    padding: 15px;
  }
}
.todo__top {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .todo__top {
    flex-direction: column;
    row-gap: 20px;
  }
}
.todo__info {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 95%;
}
@media (max-width: 768px) {
  .todo__info {
    width: 100%;
  }
}
.todo__input {
  width: 95%;
  border-radius: 4px;
  border: 1px solid #FF8303;
  background: #242320;
  padding: 6px;
  padding-left: 14px;
  padding-right: 0;
  height: 32px;
  outline: none;
  font-size: 20px;
  color: #fff;
}
@media (max-width: 768px) {
  .todo__input {
    width: 97%;
  }
}
@media (max-width: 668px) {
  .todo__input {
    font-size: 16px;
  }
}
.todo__input:focus {
  border: 1px solid #fff;
  caret-color: #fff;
}
.todo__input::-moz-placeholder {
  color: rgba(240, 227, 202, 0.64);
  line-height: 18px; /* 128.571% */
  font-size: 20px;
}
.todo__input::placeholder {
  color: rgba(240, 227, 202, 0.64);
  line-height: 18px; /* 128.571% */
  font-size: 20px;
}
.todo__add {
  width: 102px;
  height: 102px;
  border-radius: 8px;
  border: 2px solid #FF8303;
  background: #1B1A17;
  color: #FF8303;
  font-size: 50px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .todo__add {
    width: 100%;
    height: 64px;
  }
}
.todo__results {
  max-width: 1200px;
  min-height: 420px;
  border-radius: 8px;
  border: 2px solid #A35709;
  background: #242320;
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  overflow: scroll;
}
@media (max-width: 450px) {
  .todo__results {
    padding: 10px;
  }
}

.todo-item {
  border-radius: 8px;
  border: 2px solid #A35709;
  background: #242320;
  padding: 16px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .todo-item {
    padding: 10px;
  }
}

.item-title {
  color: #F0E3CA;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media (max-width: 768px) {
  .item-title {
    font-size: 16px;
  }
}
@media (max-width: 375px) {
  .item-title {
    font-size: 14px;
  }
}

.item-sub {
  color: #F0E3CA;
  font-size: 14px;
}

.item-delete {
  width: 40px;
  height: 40px;
  font-size: 30px;
  border-radius: 5px;
  border: 2px solid #A35709;
  background: #1B1A17;
  color: #FF8303;
  cursor: pointer;
}
@media (max-width: 600px) {
  .item-delete {
    width: 28px;
    height: 28px;
    font-size: 18px;
  }
}

.item-actions {
  display: flex;
  gap: 10px;
}

.no-items {
  display: flex;
  align-items: center;
  justify-content: center;
}
.no-items p {
  color: #FFF;
  text-align: center;
  font-size: 24px;
  position: relative;
}
.no-items p::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: -15px;
  display: block;
  width: 75%;
  height: 3px;
  background-color: #FF8303;
}
.no-items p::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: -15px;
  display: block;
  width: 75%;
  height: 3px;
  background-color: #FF8303;
}

.item-edit {
  width: 40px;
  height: 40px;
  font-size: 30px;
  border-radius: 5px;
  border: 2px solid #A35709;
  background: #1B1A17;
  color: #FF8303;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-modal {
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(0);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease 0s;
}
.delete-modal::before {
  z-index: 1;
  content: "";
  opacity: 0;
  width: 0;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  background: rgba(7, 7, 7, 0.89);
  transition: all 0.3s ease 0s;
}
.delete-modal__content {
  width: 500px;
  border: 4px solid #FF8303;
  height: 150px;
  background: #1B1A17;
  border-radius: 20px;
  z-index: 20;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 60px;
  padding-top: 60px;
  justify-content: space-between;
  padding-bottom: 40px;
}

.modal-open .delete-modal {
  transform: scale(1);
}

.modal-open .delete-modal::before {
  content: "";
  width: 100%;
  opacity: 1;
}

.delete-title {
  color: #FFF;
  text-align: center;
  font-size: 28px;
  font-weight: 500;
  line-height: 18px; /* 100% */
}

.delete__actions {
  display: flex;
  gap: 20px;
}
.delete__actions button {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  width: 94px;
  height: 44px;
  border-radius: 4px;
  border: 1px solid #A35709;
  background: #242320;
  color: #D9D9D9;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 180% */
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.delete__actions button:hover {
  border: 1px solid #FF8303;
}